* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-left: 30px;
}

header {
    background-color: white; /* изменение цвета фона на белый */
    padding: 20px;
    text-align: left;
}

nav a {
    margin: 15px;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    font-weight: bold; /* сделать текст жирным */
    margin-left: 0;
}

nav a:hover {
    color: #007BFF;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    text-align: left;
}

h1, h2 {
    margin-bottom: 10px;
}

h2 {
    font-weight: bold;
}

#about {
    margin-top: 0px; /* задает отступ перед секцией "О нас" */
}

img {
    width: 40%; /* уменьшение размера изображения на полтора раза */
    height: auto;
    margin-bottom: 10px;
}

p {
    font-weight: bold;
}

ul {
    list-style-type: disc; /* добавление точек в список */
    margin-left: 20px; /* отступ слева для списка */
}

table {
    width: 50%; /* уменьшение ширины таблицы */
    border-collapse: collapse;
    border: 1px solid black; /* черный контур таблицы */
    text-align: left; /* выравнивание таблицы по левому краю */
    margin-left: 0; /* убрать отступ слева */
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center; /* выравнивание данных по центру */
}

footer {
    background-color: black;
    color: white;
    text-align: left;
    padding: 10px;
    width: 100%; /* полоса черного цвета на всю ширину страницы */
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 30px;
}
