
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}

header {
    background-color: white;
    color: #333;
    padding: 10px 20px;
    text-align: left;
}

h1 {
    margin-top: 0; 
}

/* Шапка*/
nav a {
    color: #333; 
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.5; 
}

nav a:hover {
    color: orange; 
}

a.active {
    color: tomato;
}

main {
    padding: 10px 20px; 
    margin-top: 0; 
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


/* Блок отвечающий за карточки продуктов */
.dish {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 30px;
    border-radius: 25px;
    filter: drop-shadow(12px 14px 18px rgba(0, 0, 0, 0.12));
    cursor: pointer;
    text-align: left;
    width: 400px; 
    margin: 10px;
}

.dish img {
    max-width: 95%; 
    border-radius: 25px; 
}

.dish-info {
    margin-top: 10px;
}

.dish .price {
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
}

.dish .name {
    font-size: 16px;
    color: black;
    margin-top: 0;
}

.dish .weight {
    color: gray;
    font-size: 14px;
    margin-top: 5px;
}

.dish button {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
    border: none;
    width: 100%;
    font-size: 16px;
}

.dish:hover {
    border: 2px solid tomato; 
}

.dish:hover button {
    background-color: tomato;
    color: white;
}

.dishes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center; 
}


/* Конец блока карточек */

footer {
    background-color: black;
    color: white;
    text-align: left;
    padding: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: tomato;
}


.placeholder {
    color: gray;
    pointer-events: none;
}

#order-form {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

#order-form .order-item {
    text-align: left;
}

#order-form h2 {
    margin-top: 0;
}

#order-form form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#order-form form div:not(.radio-group) {
    width: 45%; 
}

#order-form h3 {
    text-align: left;
}

#order-form label {
    display: block;
    text-align: left;
}

#order-form select,
#order-form input:not([type="checkbox"]):not([type="radio"]),
#order-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 0;
    box-sizing: border-box;
}

#order-form textarea {
    max-width: 100%; 
    min-width: 100%; 
    max-height: 300px;
    min-height: 50px;
    margin: 0 auto;
}



#order-form button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 0;
    margin-top: 10px;
}

#order-form button[type="reset"] {
    margin-right: 10px;
}

.note {
    font-size: 12px;
    color: gray;
    text-align: left;
    margin: 0;
    margin-bottom: 20px; 
    font-style: italic; 
}

.checkbox-label,
.radio-label {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.checkbox-label input,
.radio-label input {
    margin-right: 10px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; 
}

.button-group {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
}

.checkbox-label {
    margin-bottom: 20px; 
}


.time {
    margin-bottom: 10px;
}


#total-price {
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 20px;
}

#total-price .price-value {
    font-size: 20px; 
    display: inline-block;

}

.order-item p {
    margin: 0; 
    line-height: 1.2; 
}

.order-item p + p {
    margin-bottom: 20px; 
    width: 300px;
}




#no-selection-message {
    display: none; 
}


#no-selection-message {
    display: block; 
    margin-bottom: 20px;
}

#soup-order, #main-order, #drink-order, #total-price-block {
    display: none; 
}


/* Стили кнопок фильтрации */
.filters button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    color: green; 
    background: none;
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}
/* Раскодировать для того чтобы появлялась обводка при наведении на кнопку */
/* .filters button:hover {
    border: 2px solid green;  
} */

.filters button.active {
    background-color: #d2eedc; 
    color: green; 
    border-radius: 10px; 
}
/* Конец кнопок фильтрации */

















/* Стили для блока с комбо */
#combo-options {
    margin: 20px auto;
    max-width: 1200px; 
    text-align: center;
}

#combo-options h2 {
    text-align: center;
    margin-bottom: 20px;
}

.combo-grid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.combo-column {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    align-items: center; 
}

.combo-row {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.combo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s;
    background-color: transparent; 
    border: none; 
}

.combo-item img {
    width: 50px;  
    height: 50px;
    transition: transform 0.3s, scale 0.3s;
}

.combo-item img:hover {
    transform: scale(1.1);
}

.combo-item p {
    margin: 5px 0 0 0; 
}

.small-note {
    font-size: 12px;
    color: gray;
    text-align: center;
    margin-top: 10px;
}

/* Стили для уведомлений */
.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    width: 60%; 
    max-width: 400px; 
}

.alert p {
    margin-bottom: 20px;
}

.alert button {
    background-color: white; 
    color: black;
    padding: 10px 20px;
    border: 2px solid black; 
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.alert button:hover {
    background-color: tomato; 
    color: white; 
}

