* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-left: 10px;
}

header {
    background-color: white;
    padding: 20px;
    text-align: left;
}

nav a {
    margin: 15px;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-left: 0;
}

nav a:hover {
    color: orange;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    text-align: left;
}

h1, h2 {
    margin-bottom: 10px;
}

h2 {
    font-weight: bold;
}

#about {
    margin-top: 0px;
}

img {
    width: 55%;
    height: auto;
    margin-bottom: 10px;
}

p {
    font-weight: bold;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

table {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
    margin-left: 0;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    text-align: left;
    padding: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 30px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: orange;
}

a.active {
    color: tomato;
}